.page-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2.2rem;
}

.page-border {
    width: 1000px;
    height: 600px;
    /* border-radius: 60px; */
    border: solid 2px #3d3d3d;
    /* border-right: solid 2px white; */
}

.page {
    width: 1000px;
    height: 600px;
}

@media screen and (max-width: 768px) {
    .page {
        width: 900px;
        height: 560px;
    }
    .page-border {
        width: 900px;
        height: 560px;
    }
}

@media screen and (max-width: 680px) {
    .page {
        width: 600px;
        height: 500px;
    }
    .page-border {
        width: 600px;
        height: 500px;
    }
}

@media screen and (max-width: 425px) {
    .page {
        width: 460px;
        height: 600px;
    }
    .page-border {
        width: 460px;
        height: 600px;
    }
}

/* ====== home-page ====== */

.home-page-border {
    width: 1000px;
    height: 600px;
    border-radius: 60px;
    border-left: solid 2px white;
    border-right: solid 2px white;
}

.logo {
    width: 100%;

    position: absolute;
    top: 48%;
    left: 0;

    transform: translateY(-50%);
}

.version {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 1.5rem;
}

.last-update-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 16px;
    border-left: solid 4px white;

    font-size: 0.8rem;
}

.last-update-date {
    font-size: 1.8rem;
}

.social-link-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    gap: 20px;
}

.social-link {
    width: 100%;
    
    text-align: center;

    font-size: 24px;
    transition: all 100ms ease-in;

    gap: 10px;

    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    border: solid 2px white;

    font-size: 1rem;
}

.social-link span {
    padding-left: 5px;
    padding-right: 5px;
}

.social-link:hover {
    background: white;
    color: black;
}

/* ====== about-page ====== */
.side-bar {
    position: absolute;
    top: 26%;
    left: 0;
    width: 26%;
}

.avatar {
    width: 140px;
    max-width: 80%;

    margin: 10px;
}

.motto {
    position: relative;
    font-size: 1.2rem;
    margin-left: 12px;
    padding-left: 18px;
    color: #9a9a9a;
    opacity: 70%;

    white-space: pre;
    transition: all 100ms;
}

.motto::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
    background: #9a9a9a;
    opacity: 70%;

    transition: all 100ms;
}

.motto:hover {
    opacity: 100%;
}

.motto:hover::before {
    opacity: 100%;
    width: 8px;
}

.author-desc {
    margin-left: 12px;
    margin-top: 8px;

    white-space: pre;
}

/* ====== notes-page ====== */
.notes-container {
    position: absolute;
    top: 16%;
    right: 0;

    width: 70%;
}

.note {
    width: 100%;
    font-size: 1.4rem;
    color: white;
    opacity: 0.5;

    transition: all 100ms;
}

.note:hover {
    opacity: 1;
}

/* ====== live-page ====== */
.live-container {
    position: absolute;
    top: 24%;
    left: 16%;

    display: flex;
    width: 80%;
    height: 76%;
    overflow: hidden;
    transform: skewX(-15deg);
}

.live-item {
    flex: 1;
    transition: all 0.5s ease;
    position: relative;

    border-right: 2px solid #fff;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 40px;

    overflow: hidden;
}

.live-item:hover {
    flex: 4;
    filter: brightness(1.2);
    border-right: 2px solid #ffffff;
}

.live-item .live-img {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(4px) saturate(0.3);
    transition: all 200ms;

    transform: scale(1.1);
}
.live-item:hover .live-img {
    filter: blur(0px) saturate(1);
    transform: scale(1);
}

.live-item .live-content {
    transform: skewX(15deg) rotateZ(195deg);
    color: white;
    font-size: 1.8rem;
    opacity: 1;
    transition: all 0.3s;
    writing-mode: vertical-rl;
}

.live-item:hover .live-content {
    opacity: 0;
}

/* ====== friends-page ====== */
.friends-container {
    position: absolute;
    top: 28%;

    height: 74%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.friend {
    position: relative;
    display: flex;
    height: 80px;
    width: 100%;
    gap: 10px;
    /* padding: 6px; */
}

.friend::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;

    transform: scaleX(1.08) scaleY(1.2);

    background-color: rgba(255, 255, 255, 0.2);
    transition: all 100ms;
}

.friend:hover::after {
    width: 100%;
}

.name {
    font-size: 1rem;
}

.friend-desc {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
}
